@mixin hashtag {
    content: '#';
    font-style: italic;
    margin-right: 0.08rem;
    margin-left: -0.5rem;
    color: #646669;
    font-style: italic;
}

@mixin tag {
    display: inline-block;
    background-color: #e2e3e5;
    border: 1px solid #d3d6d8;
    border-radius: 0.375rem;
    margin: 0.1rem 0.16rem;
    font-size: 0.9rem;
    box-shadow: 0px 0px 4px #d5d5d5;
    padding: 0.2rem 0.4rem;
}
